@import './base.css';

body {
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

.tabs {
  .tab-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    a {
      display: inline-block;
      padding: 5px 0;
      cursor: pointer;
      font-size: 18px;
      &.active {
        color: orange;
      }
    }
  }
}
.monster {
  .coordinates {
    padding: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
    input {
      display: inline-block;
      width: 100px;
    }
    .coordinates-item {
      display: flex;
      gap: 10px;
    }
  }

  .result {
    padding: 10px;
    display: flex;
    flex-direction: column;
    textarea {
      width: 100%;
    }
  }
}

.fish {
  input {
    display: inline-block;
    width: 100px;
  }
  .config {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
